<div id="container">
    <div id="title">
        <h1>Burger Wish List</h1>
        {{!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> --}}
        <img src="assets/img/burger.png" alt="picture of burger">
    </div>

    <div id="add-burger">
        <h2>What burger would you like to devour?</h2>
        <form class="create-form">
            <div class="form-group">
                <textarea id="burger" name="burger-input" rows="2" cols="50" placeholder="Eat Me!" required="required"></textarea>
            </div>
            <button class="btn btn-2 btn-2a" type="submit">ADD</button>
        </form>
    </div>
        
    <div id="wish-list">
        <h2>Get in My Belly!</h2>
        <hr>
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                <li>
                    <p>{{this.id}}. {{this.burger_name}}<span><button class=" devour-burger btn btn-2 btn-2a" data-id={{this.id}} data-devour={{devoured}} >Devoured it!</button> </span> </p>
                </li>
                {{/unless}}
            {{/each}} 
        </ul>
    </div>
    <div id="devoured-burger">
        <h2>Yum...</h2>
        <hr>
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                    <li>
                    <p><span class="label"></span> {{this.id}}. </span> {{this.burger_name}}</p>
                </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
    <footer class="footer">
          <div >
            <a href="https://github.com/JuliaLid/Full-Stack-Burger-App" target="_blank" >GitHub Repo</a>
          </div>
        </footer>
</div>